<form method="post" action="/thread/add">

    Title:
    <input type="text" name="title">
    </br>
    Content:
    <input type="text" name="content">
    </br>
    <input type="submit" name="Add Thread">


</form>