<form method="post" action="/thread/add">

    Title:
    <input type="text" name="title">
    </br>
    Content:
    <input type="text" name="content">
    </br>
    Category:
    <select name="category">
        {{#each categories}}
            <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}

    </select>


    <input type="submit" name="Add Thread">


</form>