Edit thread: </br>
<hr>
<form method="post" action="/thread/edit/{{thread._id}}">

    Title:
    <input type="text" name="title" value="{{thread.title}}">
    </br>
    Content:
    <input type="text" name="content" value="{{thread.content}}">
    </br>
    <input type="submit" name="Edit Thread">


</form>