<form action="/article/add" method="POST">
    Title
    <input type="text" name="title" />
    <br />
    Description
    <input type="text" name="description" />
    <br />
    <input type="submit" value="Add article" />
</form>