<form action="/cars/add" method="POST">
    Model
    <input type="text" name="model" />
    <br />
    Image URL:
    <input type="text" name="image" />
    <br />
    Price per day:
    <input type="number" name="price" />
    <br />

    <input type="submit" value="Add Car" />
</form>